*.iml
.DS_Store
.gradle
.idea
build
captures
release
.env
apikey.properties
keystore.properties
local.properties
movieapp-service-account.json
fastlane/*
!fastlane/Appfile
!fastlane/Fastfile
!fastlane/Pluginfile
!fastlane/README.md
